@import url('https://fonts.googleapis.com/css?family=Roboto');


p, li, a {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #66cc33;
}

#topheader {
    width: 100%;
    background: #66cc33; /*light green */ 
    color: white;
    position: fixed;
    top: 0px;
    height: 10%;
    text-align: right;
    font-size: .9em;
}
#topheader p {
    padding-right: 2%;
  
}
nav {
    height: 25%;
    
}
nav ul li { display: inline-block;
    padding: 1.5% 1%;
    
}
nav ul li a{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:link, nav ul li a:visited{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#66cc33;
}
.fullimage {
    background-image:url("../images/childplaying.jpeg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;

   
}
#text h1 {
    position: relative;
    top: 30%;
    text-align:center;
    color: white;
}
.button {
    display: block;
    background-color: rgb(102, 204, 51);
    width: 200px;
    margin: auto;
    height: 40px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em;
    border-radius: 20px;
    text-align: center;
    
}

.button a {
     color: white;
    text-decoration: none;
    
}

#main {
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-between;
}

.col {
   width: 30%;
    text-align: center;
    
   
}
.categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    vertical-align: center;
    ;
    
   
}
.categories li {
    background-color: #66cc33;
    list-style: none;
    width: 20%;
    height: 100px;
    vertical-align: center;
    align-items: flex-end
}
.categories a{
    text-decoration: none;
    
    
    
}
.fullimage {
    background-image:url("../images/childplaying.jpeg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;}
#contactfullimage {
    background-image:url("../images/about.jpg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;
    
}
