@import url('https://fonts.googleapis.com/css?family=Roboto');


p, li, a {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #66cc33;
}

#topheader {
    width: 100%;
    background: #66cc33; /*light green */ 
    color: white;
    position: fixed;
    top: 0px;
    height: 3.5%;
    text-align: right;
    font-size: .9em;
    z-index: 1;
}
#topheader p {
    padding-right: 2%;
    margin-top: .5%;
  
}
nav {
    height: 25%;
    width: 100%;
    text-align: center;
    
}
nav ul li { display: inline-block;
    padding: 1.5% 1%;
    width: 100%;
    
}
nav ul li a{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:link, nav ul li a:visited{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#66cc33;
}
.fullimage {
    background-image:url("../images/childplaying.jpeg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;

   
}
#text h1 {
    position: relative;
    top: 30%;
    text-align:center;
    color: white;
}
.button {
    display: block;
    background-color: rgb(102, 204, 51);
    width: 200px;
    margin: auto;
    height: 40px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em;
    border-radius: 20px;
    text-align: center;
    
}

.button a {
     color: white;
    text-decoration: none;
    
}
 #menu {
        padding-top: 4%;
        text-align: center;
    }

main {
   margin-right: 5%;
    margin-left: 5%;
}

.row {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    
}
.col {
    display: inline-block;
    width: 28%;
   text-align: center;
    
}


.categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    vertical-align: center;
    ;
    
   
}
.categories li {
    background-color: #66cc33;
    list-style: none;
    width: 20%;
    height: 100px;
    vertical-align: center;
    align-items: flex-end
}
.categories a{
    text-decoration: none;
    
    
    
}
.fullimage {
    background-image:url("../images/childplaying.jpeg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;}
#contactfullimage {
    background-image:url("../images/about.jpg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;
    
}
#pestfree {
    text-align: center;
    padding: 5%;
    background-color:#66cc33;
}
#pestfree h1 {
    text-align: center;
    color: black;
    
}
#pestfree p {
    color: white;
    
}
footer img {
    width: 40px;
}

#areas {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    
}
#areas a {
    text-align: left;
    padding: 1%;
    line-height: 2em;
    color: black;
}
#locations {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
}

#map {
    width: 100%;
    height: 300px;
}

footer {
    background-color: #66cc33;
    
}
footer h2 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
#aboutimg {
    width: 100%;
}

#aboutlinks ul {
    width: 100%;
    text-align: center;
}
#aboutlinks ul li {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%
    
}
#aboutlinks ul li a {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .col {
        width:100%;
        padding: 5%;
     }

    #links {
    display: none;
}

#toggle:checked ~ #links {
    display: block;
}

#toggle {
    display: none;
}
    
#menu {
    text-align: center;
    padding: 3%;
    padding-top: 5%;
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
    }
    nav img {
        display: none;
    }
    #topheader {
        height: 25px;
    }
    .col1 {
    width: 100%;
     display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
}
.col2 {
    width: 100%;
     display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
}
    
}
@media screen and (min-width: 800px) {
    label{
        display: none;
    }
    #toggle {
        display: none;
    }
    
    nav {
    width: 100%;
    
}
    nav ul {
        margin-left: auto;
        margin-right: auto;
    }
nav ul li { 
    padding: 1.5% 1%;
    display: inline;
}
nav ul li a{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:link, nav ul li a:visited{
    font-size: 1em;
    color: #336633;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#66cc33;
}
   
.fullimage {
    background-image:url("../images/childplaying.jpeg");
    background-size:cover;
    background-position: center;
    padding: 15%;
    color: #ffffff;

   
}
    .col {
   width: 28%;
    text-align: center;
        padding: 2%;
    vertical-align: top;
   
    
   
}
    
    .row {
      
         margin-left: 5%;
        margin-right: 5%;
    }
    #topheader {
        height: 30px;
    }
    .col1 {
    width: 40%;
     display: inline-block;
    vertical-align: top;
}
.col2 {
    width: 40%;
     display: inline-block;
}
#map {
    width: 100%;
    height: 300px;
}
   
}